<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Прогнозирование диабета</title>
    <style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
		*{
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		div{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 100vw;
			height: 100vh;
			background: #262625;
			color: white;
			font-family: 'Montserrat', sans-serif;
		}
		a{
			color:white ;
			text-decoration: none;
		}
		div {
    background: linear-gradient(272deg, #6ddcbf, #062a20);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 33s ease infinite;
    -moz-animation: AnimationName 33s ease infinite;
    animation: AnimationName 33s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
	</style>
</head>
<body>
<div>
    <h1>Прогнозирование диабета</h1>
    <br>
<form method="post">
        <label for="title1">Беременности</label>
        <br>
        <input type="text" name="title1"

               value="{{ request.form['title1'] }}"></input>
        <br>
        <br>
        <label for="title2">Глюкоза</label>
        <br>
        <input type="text" name="title2"

               value="{{ request.form['title2'] }}"></input>
        <br>
        <br>
        <label for="title3">Кровяное давление</label>
        <br>
        <input type="text" name="title3"

               value="{{ request.form['title3'] }}"></input>
        <br>
        <br>
        <label for="title4">Толщина кожи</label>
        <br>
        <input type="text" name="title4"

               value="{{ request.form['title4'] }}"></input>
        <br>
        <br>
        <label for="title5">Инсулин</label>
        <br>
        <input type="text" name="title5"

               value="{{ request.form['title5'] }}"></input>
        <br>
        <br>
        <label for="title6">Индекс массы тела</label>
        <br>
        <input type="text" name="title6"

               value="{{ request.form['title6'] }}"></input>
        <br>
        <br>
        <label for="title7">Диабет у родственников</label>
        <br>
        <input type="text" name="title7"

               value="{{ request.form['title7'] }}"></input>
        <br>
        <br>
        <label for="title8">Возраст</label>

        <br>
        <input type="text" name="title8"

               value="{{ request.form['title8'] }}"></input>
        <br>
        <br>
        <button type="submit">Отправить на вычисление</button>
    </form>
    <p>Точность модели 83,6%</p>
</div>
</body>
</html>

