<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Прогнозирование диабета</title>
    <style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
		*{
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		div{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 100vw;
			height: 100vh;
			background: #262625;
			color: white;
			font-family: 'Montserrat', sans-serif;
		}
		a{
			color:white ;
			text-decoration: none;
		}
		div {
    background: linear-gradient(272deg, #6ddcbf, #062a20);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 33s ease infinite;
    -moz-animation: AnimationName 33s ease infinite;
    animation: AnimationName 33s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
	</style>
</head>
<body>
<div>
    <h1>Прогнозирование диабета</h1>
    <br>
    <h3>{{ data }}</h3>
</div>
</body>
</html>

